
/* Body Section */
body {
    /* Flexbox to center content vertically and horizontally*/
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh; /*Full viewpoint height*/
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sono', monospace;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape'); /* Background image fetched from Unsplash with specified dimensions*/
    font-size: 120%; /*Set base font size*/
}
/* Description Section */
.description {
    text-transform:capitalize; /* Capitalize text */
    margin-left: 8px;
}
/* Flex Container */
.flex {
    display:flex; /* Use flexbox layout */
    align-items: center;
}

/* Card Section */
.card {
    background: #000000d0; /*Semi-transparent black background*/
    color: white;
    padding: 2em;
    border-radius: 30px; /* Rounded Corners */
    width: 100%;
    max-width:420px;
    margin: 1em;
    position: absolute;
}

/* Search bar */
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Hover Effect */
button:hover {
    background: #7c7c7c6b ; /*Lighter background color on hover*/
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    }

/*Button Styles*/
button {
    margin: 0.5em;
    border-radius: 50%; /*Rounded Shape*/
    border: none;
    height: 46px;
    width: 46px;
    outline: none; /*Removes outline*/
    background: #7c7c7c2b;
    color: white;
    cursor: pointer; /*Cursor Style*/
    transition: 0.25s ease-in-out; /*Smooth Transition*/

}

/* Search bar input */
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit; /*inherit font family*/
    font-size: 105%;
    width: calc(100% - 80px); /*Calculate width*/

}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.forecast {
    display: flex;
}

.forecast.content {
    background: #000000d0; /*Semi-transparent black background*/
    color: white;
    padding: 2em;
    border-radius: 30px; /* Rounded Corners */
    width: 100%;
    max-width:420px;
    margin: 1em;
}

.future-forecast {
    background: #000000d0; /*Semi-transparent black background*/
    color: white;
    padding: 2em;
    border-radius: 30px; /* Rounded Corners */
    width: 100%;
    max-width:420px;
    margin: 1em;
    position: relative;
    bottom: 10px;
    /* display: flex;
    flex-direction: inline; */
    /* justify-content: center, below; */

}